/* About me */
section.aboutMe {
    display: flex;
    gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

/* section.aboutMe>div {
    margin-top: 100px;
    margin-bottom: 100px;
} */

section.aboutMe>div.aboutMe_imgs {
    margin: auto;
    /* background-color: red; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section.aboutMe>div.aboutMe_imgs>img {
    background-color: #0ADBB8;
    height: 242px;
    width: 242px;
    border-radius: 10px;
}

section.aboutMe>div.aboutMe_imgs>div {
    display: flex;
    justify-content: space-around;
}

section.aboutMe>div.aboutMe_imgs>div>svg {
    width: 45px;
    cursor: pointer;
    fill: #84eedc;
}

section.aboutMe>div.aboutMe_imgs>div>svg:hover {
    box-shadow: 0px 5px 0px -1px #0adbb8;
    transition: all 0.5s;
}


section.aboutMe>div.aboutMe_text {
    height: 50%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: #38334A;
    overflow-y: auto;
    font-size: 25px;
}

section.aboutMe>div.aboutMe_text>p:nth-child(1) {
    color: rgba(142, 254, 0, 0.83);
    font-size: 1em ;
    margin-top: 5px;
}

section.aboutMe>div.aboutMe_text>p:nth-child(2) {
    color: #eac5c5;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: justify;
    word-spacing: 2px;
}

section.aboutMe>div.aboutMe_text>p:nth-child(2)>em {
    font-size: 1.08em;
    color: #EB5E5E;
}

@media screen and (max-width: 720px ) {
    section.aboutMe{
        flex-direction: column;
    }
    section.aboutMe>div.aboutMe_imgs>img {
        margin-top: 50px;
    } 
    section.aboutMe>div.aboutMe_text {
        margin-bottom: 100px;
        font-size: 30px;
    }

}