.SkillComponentProgress-class{
    height: 400px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.SkillComponentProgress-class>img{
    margin-top: 12px;
    height: 40px;
    object-fit: contain;
}
.SkillComponentProgress-class>div{
    flex: 1;
    background-color: rgb(13, 249, 1);
    margin: 0 10px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 2px 0 #000000;
    /* cursor: pointer; */
}
.SkillComponentProgress-class>div:hover{
    box-shadow: 10px 5px 3px 0 #888383;
    transition: all 0.3s;
}
.SkillComponentProgress-class>div>p{
    transform: rotate(-90deg);
    /* right: 25px; */
    /* position: relative; */
    font-weight: bold;

    align-items: center;
    display: flex;
    height: 100%;

    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px #000000;
}