section.presentation {
    --opacity-black: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacity-black)), rgba(0, 0, 0, var(--opacity-black))), url('./../../../sources/img/background-presentation.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.presentation>img {
    /* transform: translateY(-px); */
    border-radius: 50%;
    height: 180px;
}

section.presentation>div {
    /* transform: translateY(-90px); */
    text-align: center;
}

section.presentation>div>p:nth-child(1) {
    color: #BDFF00;
    font-size: 30px;
}

section.presentation>div>p:nth-child(2) {
    color: #0ADBB8;
    font-size: 30px;
}

section.presentation>div>p:nth-child(3) {
    color: #E86411;
    font-size: 30px;
}