/* ::-webkit-scrollbar {
    display: none;
} */

:root {
    --background-basic-skill: #e42121;
    --background-medium-skill: #14c829;
    --background-advanced-skill: #2705ff;
}

#root {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
#root::-webkit-scrollbar {
    display: none;
}

#root>section {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;

    scroll-snap-align: start;
    /* padding-top: 50px; */
}

/* Presentation */
section.presentation {
    --opacity-black: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacity-black)), rgba(0, 0, 0, var(--opacity-black))), url('./sources/img/background-presentation.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.presentation>img {
    /* transform: translateY(-px); */
    border-radius: 50%;
    height: 180px;
}

section.presentation>div {
    /* transform: translateY(-90px); */
    text-align: center;
}

section.presentation>div>p:nth-child(1) {
    color: #BDFF00;
    font-size: 30px;
}

section.presentation>div>p:nth-child(2) {
    color: #0ADBB8;
    font-size: 30px;
}

section.presentation>div>p:nth-child(3) {
    color: #E86411;
    font-size: 30px;
}
/* About me */
section.aboutMe{
   display: flex;
   gap: 12px;
   padding-left: 12px;
   padding-right: 12px;
}
section.aboutMe>div
{
    margin-top: 50px;
}
section.aboutMe>div.aboutMe_imgs
{
    margin: auto;
    /* background-color: red; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
section.aboutMe>div.aboutMe_imgs>img
{
    background-color: #0ADBB8;
    height: 242px;
    width: 242px;
    border-radius: 10px;
}
section.aboutMe>div.aboutMe_imgs>div
{
    display: flex;
    justify-content: space-around;
}
section.aboutMe>div.aboutMe_imgs>div>svg{
    width: 45px;
    cursor: pointer;
}
section.aboutMe>div.aboutMe_imgs>div>svg:hover{
    box-shadow: 0px 5px 0px #0ADBB8; 
    transition: all 0.5s; 
}
/* section.aboutMe>div.aboutMe_imgs>div>img
{
    background-color: #0ADBB8;
    height: 42px;
    width: 42px;
} */
section.aboutMe>div.aboutMe_text
{
    height: 50%;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(6, 0, 29, 0.8);
    overflow-y: auto;
}
section.aboutMe>div.aboutMe_text>p:nth-child(1)
{
    color: rgba(142, 254, 0, 0.83);
    font-size: 25px;
    margin-top: 5px;
}
section.aboutMe>div.aboutMe_text>p:nth-child(2)
{
    color: #eac5c5;
    font-size: 20px;
    margin-top: 5px;
    text-align: justify;
    word-spacing: 2px;
}
section.aboutMe>div.aboutMe_text>p:nth-child(2)>em
{
    font-size: 21px;
    color: #EB5E5E;
}

/* Skills */
section.skills {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}


section.skills>p {
    margin-top: 55px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

section.skills>div {
    flex: 1;
    display: flex;
    padding: 0 12px;
}

section.skills>div>.legend {
    display: flex;
    flex-direction: column;
    height: 190px;
    padding: 0 13px;
}

section.skills>div>.legend>p:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;

    background-color: var(--background-basic-skill);
}

section.skills>div>.legend>p:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;

    background-color: var(--background-medium-skill);
}

section.skills>div>.legend>p:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;

    background-color: var(--background-advanced-skill);
}

section.skills>div>.skills-list-progress {
    flex: 1;
    display: flex;
    gap: 13px;
    align-items: flex-end;
    margin-bottom: 90px;

    overflow-x: auto;
}

/* proyects */
section.proyects {
    display: flex;
    flex-direction: column;

    padding-left: 50px;
    padding-right: 50px;
}

section.proyects>p {
    margin-top: 55px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

section.proyects>div{
    background-color: rgba(6, 0, 29, 0.8);
    height: 50%;
    border-radius: 10px;
    overflow-x: auto;
    padding-top: 30px;
    padding-left: 13px;
    display: flex;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    gap: 40px;
}
section.proyects>div>section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    scroll-snap-align: start;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}



/* contact page */
section.contact
{
    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

}
section.contact>.sendMessage
{
    margin-top: 60px;
    background-color: rgba(6, 0, 29, 0.8);
    height: 90px;
    width: 450px;
    height: 500px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;

    padding: 0 20px;
}
section.contact>.sendMessage>p
{
    text-align: center;
    color: #eeffef;
    font-size: 20px;
    letter-spacing: 2px;
}
section.contact>.sendMessage>form
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
/* section.contact>.sendMessage>form input
{
    height: 30px;
    width: 300px;
} */
section.contact>.sendMessage>form p
{
    background-color: red;

}
section.contact>.sendMessage>form textarea
{
    width: 300px;
    text-align: justify;
    padding: 5px;
}
section.contact>.sendMessage>form button
{
    height: 30px;
    width: 200px;
}

footer
{
    background-color: rgba(1, 3, 24, 0.9);
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    color: azure;
}
footer>div
{
    display: flex;
}
footer>div img{
    height: 30px;
    margin: auto 12px;
    cursor: pointer;
}
footer>div img:hover{
    height: 37px;
    box-shadow: 0px 4px 0px #0ADBB8; 
    transition: all 0.5s; 
}